.nav-container {
  display: flex;
  background-color: #bd5c37;
  width: 300px;
  height: 789px;
}


#nav-item {
  text-decoration: none;
  color: #bbbbbb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav-item:hover {
  color: white;
}

#nav-item.active {
  color: white;
  text-shadow: 5px 5px 5px black;
}


li {
  list-style-type: none;
  font-size: x-large;
  padding: 10px;
}

#bio {
  color: #bd5c37;
}

#projects {
  color: #bd5c37;
}

#skills {
  color: #bd5c37;
}

#interests {
  color: #bd5c37;
}

#profile {
  height: 200px;
  border-radius: 70px;
  border: 8px solid #cd7d60;
  margin-top: 80px;
  margin-left: 20px;
}

span {
  color: #bd5c37;
}

#info {
  color: #9898a8;
  font-size: medium;
}


h2 a .resume:hover {
  color: blue;
  background-color: blue;
}

a:hover {
  color: blue;
}

p {
  line-height: 200%;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tools {
  color: #9898a8;
}


a {
  color: inherit;
}

ion-icon:hover {
  color: #bd5c37;
}

ion-icon {
  font-size: 60px;
  margin: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.logo:hover {
  color: #bd5c37;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  margin-top: -680px;
}


.bio-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: -680px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: -680px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: -700px;
}

.interests-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: -680px;
}

h1 {
  font-size: 64px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.open-modal-button {
  background-color: #cd7d60; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.open-modal-button:hover {
  background-color: #bbbbbb; 
}


.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 380px) and (max-width: 450px) {
  .nav-container {
    display: flex;
    background-color: #bd5c37;
    width: 100%;
    height: 400px;
  }

  .nav {
    /* display: flex; */
    margin-left: 20px;
    padding: 0px;
  }

  #profile {
    height: 130px;
    border-radius: 70px;
    border: 8px solid #cd7d60;
    margin-top: 20px;
    margin-left: 20px;
  }

  li {
    font-size: large;
  }


  .home-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  h1 {
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p {
    line-height: 200%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  #tools {
    color: #9898a8;
    font-size: 18px;
  }

  ion-icon {
    font-size:40px;
    margin: 10px;
  }

  .logo {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  h2 {
    font-size: 20px;
  }

  .interests-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 379px) {
  .nav-container {
    display: flex;
    background-color: #bd5c37;
    width: 400px;
    height: 400px;
  }

  .nav {
    /* display: flex; */
    margin-left: 20px;
    padding: 0px;
  }

  #profile {
    height: 130px;
    border-radius: 70px;
    border: 8px solid #cd7d60;
    margin-top: 20px;
    margin-left: 20px;
  }

  li {
    font-size: large;
  }


  .home-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  h1 {
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p {
    line-height: 200%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  #tools {
    color: #9898a8;
    font-size: 18px;
  }

  ion-icon {
    font-size:40px;
    margin: 10px;
  }

  .logo {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }

  h2 {
    font-size: 20px;
  }

  .interests-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-top: 0px;
    width: 380px;
  }
}